@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

:root{
    /*Fonts-Colors*/
    --primary: #000; /* var(--primary-solid);*/
    --secondary: rgba(89, 69, 69, 0.50);

    --green-bg: #7B8F88;
    --grey-gb:#D9D9D9;
    --font-color:rgba(89, 69, 69, 0.50);

    /* Typografy */

    --base-font : 'Abril Fatface';
    /* Font-sizes  */ 
    --font-display : 4.6em;
    --font-jumbo : 3.8em;
    --font-xlarge : 3em;
    --font-large : 2.4em;
    --font-medium : 1.8em;
    --font-small : 1.6em;
    --font-xsmall : 1.2em;

    /* Spacing */
    --spacing-140:14rem;
    --spacing-128:12.8rem;
    --spacing-68: 6.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-24 :2.4rem;
    --spacing-20: 2rem;
    --spacing-16:1.6rem;
    --spacing-12:1.2rem;
    --spacing-8: 0.8rem;
}

*,
*::before, 
*::after{  
    margin: 0;    
    padding: 0;
    box-sizing: border-box;  /* empuja el contenido hacia dentro, si es content-box, pero el tamaño lo tira para afuera*/
}

html{
  
    color: var(--dark-solid);
    font-size:62.5%; 
    font-family: var(--base-font);

}

.container{
    align-items: center;
    max-width: 1800px;
    margin: 0 auto;
}


h1{
    font-size: var(--font-display);
}


a {
    text-decoration: none;
    color:inherit;   /* toma el color que viene el heredaro .En este caso html : #1111 */
    font-family: inherit;
}

a,h1,p{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

img{
    width: 100%;
 }


input, label{
    background-color:var(--grey-gb);
    border-radius: 20px;
    border: none;
    outline: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color:var(--font-color)
}

ul,
ol{
    list-style: none;
    font-size: var(--font-jumbo);
}

/** EMPIEZA EL CODIGO */


header{
    background-color: var(--green-bg);
    border-radius: 25px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: var(--spacing-36);
    align-items: center;
}

.toggle-button{
    display: none;
}
.navside{
    display: none;
}

.navbar__link{
    transition: color .3s ease-in-out;   
}


.title__link{
    max-width: 300px;
}
.navbar_access:hover {
    color:var(--grey-gb) ;
    
}

.navbar__menu{
    display: flex;
    flex-direction: column;
    gap:var(--spacing-36);
    flex-grow: 1;
   
   
}

.navbar_items{
    display:flex;
   justify-content: space-around;  
   flex-wrap: wrap;
}

.navbar__logo{
    max-width: 180px;
}

.search__input{
    width: 80%; 
    font-size: var(--font-xlarge);
} 

.search__container{
    width: 12px; 
    align-items: center;

}

.menu__search{
    background: #D9D9D9;
    display: flex;
    align-items: center;
    width: 80%;
    max-width:500px;
    position:relative;
    border-radius: 20px;
    height: 35px;
    margin: 0 auto;
    padding: var(--spacing-28);
}

.search_icon{
    background: url('../img/buscar.png') no-repeat; /* Ruta de tu imagen PNG */
    background-size: contain;
    width: 50px;
    height: 30px;
    position: absolute;
    left:10px ;
    /*top: 50%;*/
    transform: translateY(-50%);
}




/*******************************************************************/

main{
   
    position: relative;
    width: 100%;
    text-align: center;
}

main h2{
   font-size: var(--font-xlarge);
    font-weight: 300;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px;
}

.caja-conte{
    width: 100%;
    position: absolute;
    
}


.container-form{
    background-color: var(--green-bg);
    border-radius: 20px;
    margin: 0 auto;
    max-width: 900px;
    padding:var(--spacing-16);
    margin: 0 auto;
    padding: 0 0 2rem 0;
   /* display: none;*/
}

.container-form__tile{
    font-weight: 300; 
    max-width: 200px;
     margin: 0 auto;
    padding: var(--spacing-16);
}

.form{
   display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto; 
    padding: var(--spacing-24);

}

.form input,label{
     font-size:var(--font-large);
    padding: 1rem;
    font-weight: 700;  
    text-align: center
}


.file-label{
    margin-bottom: 2rem; 
}


.file-label + input[type="file"] {
   display: none;
}


.content-list{
    display: grid;
    grid-template-rows: auto 1fr; 
    gap: 2rem;
    /*margin: 0 auto;
    display: block;
    position: absolute;
    width: 100%;*/
}

.content-list__item{
    display: flex;
    justify-content: space-between;
    background-color: var(--grey-gb);
    border-radius: 12px;
    align-items: center;
  } 

main img{
    width: 150px;
    max-height: 130px; 
}

/*  .card__image-rigth{
   
   
}

.card__image-left{
    max-width: 130px;
    max-height: 130px;
}

  */
  /*    
    
    gap: 12rem;
    margin-top: 3rem;
    
    







.file-label:hover, .form__input-nombre:hover, .form__input-submit:hover{
    background-color:rgb(163, 175, 128);
}

.content-list__item span{
    font-family: normal;
    font-weight: 1000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.abre{
    position: absolute;
    display: block; 
}
*/

