html{
	box-sizing: border-box;
	font-size: 62.5%; /* Reset de REMS - 62-5% = 10PX DE 16PX */
	max-width: 99.8%;
    
}

*, *:before, *:after {
    box-sizing: inherit;
}

img{
    width: 100%;
}

body{
  
    text-align: center;  
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Abril Fatface;
    font-weight: 1000;
    width: 100%;  
}

.header{
    background-color: #7B8F88;
    border-radius: 20px;       
    display: flex;
    justify-content: space-between;
}


.header .header-title{
    width: 20%;
    display: flex;   
}

.header .header-title a{
    text-decoration: none;
    list-style: none;
    color: #000;
    font-weight: 1500;   
}

.header .header-title h1{
    padding: 2rem;
    font-weight: 1000; 
    
}  

nav{
    display: flex;
    justify-content: space-between;
    width: 60%;  
    padding: 0;
}

.nav{
    justify-content: end;
    flex-direction: column;
}

nav .container-bar{
    display: flex;
    width: 100%;
}
.container-bar .nav{
    width: 100%; 
}

nav .container-image{
    display: flex;
    max-width: 300px;
    justify-content: center;
}

.nav-list{
    list-style: none;
    display: flex;
    justify-content: space-between; 
}

.toggle-button{
    display: none;
}



.nav-list .nav-list-item .nav-link{
    color: #000;
    text-decoration: none;
    list-style: none;
    font-size: 2.5rem;
}

.container-busqueda {
    font-size: 2rem;
    max-width: 90%;
    background: #D9D9D9;
    display: flex;
    border-radius: 2rem;
    flex-direction: row-reverse;
    padding: 0.5rem 1rem; 
    margin: 0 0 2rem 0;
     
}

.container-icon{
    width: 10%;
    display: flex;
    padding: 0.5rem;
}
.container-busqueda input {
   background: #D9D9D9;
   border: none;
   outline: none;
   width: 95%;
  
}

.search-icon { 
    background: url('img/buscar.png') no-repeat; 
    background-size: contain;
    position: absolute;
    width: 2.5rem;
    height: 2rem;
}


@media (max-width: 720px) {

    header{
        height: 25vh;
    }

    .nav-list{
        display: none;
        position: absolute;
        background-color: #7B8F88;
        transition: transform 0.3s, opacity 0.3s;
        padding: 5rem 0 0 0;
        z-index: 1;
        border-radius: 20px;
        height: 30%;
        left: -250px;
        margin : 1rem;
        top: 0%;     
    }

    .nav-list.open {
        display: inline;
        left: 0; /* Cambia la posición cuando el sidebar está desplegado */
        display: flex;
        flex-direction: column;
        padding: 1rem;
        justify-content: end;
        align-items: start;
    }


    .header-title img{
        display: none;
    }
    .container-bar{
        display: flex;

    }
    
    .toggle-button{
        cursor: pointer;
        background-color: #7B8F88;
        height: 2.5rem;
        display: block;
        border: none;
        color: black;
        transition: width 0.3s;/* Animación de transición */
        overflow-x: hidden;
        display: flex;
    }
    .toggle-button:hover .bar {
        transform: translateY(-4px);
    }
    
    .container-image{
        width: 200px;
        max-height: 180px;
    }

    .nav-image  h1{
        padding: 2rem 0 0 1.5rem;
    }

    nav{
        width: 100%;
    }
    header .header{
        height: 98%;
    }

    header .header-title{
        display: inline;
        width: 0;
        padding: 0;
       
    }

    .container-busqueda{
        order: 999;
        width: 100%;
        margin: auto 0 1rem 1rem;
        height: 4.3rem;
    }

    #id-hambuguesa{
        height: 90%;
        width: 95%;
    }

    .container-icon{
        width: 15%;
    }
  
}


main{
    position: relative;
    height: 100%;
}

main h2{
    padding: 2rem;
}

.conteiner-carga h1{
    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Abril Fatface;
    font-weight: 1000;
    text-align: center;
    align-items: center;
    width: 30%;
    margin: 0 auto;

}


.conteiner-main-carga{

    display: flex;
    flex-direction: column;
   
    width: 100%;
    align-items: center;
    height: 50%;
   
    z-index: 1;

   
    
}

.conteiner-carga{
    width: 50%;
    background-color: #7B8F88;
    border-radius: 20px;
    z-index: 1;
    display: none;

    
}

.abre{
    position: absolute;
    display: block;

    
}

.conteiner-carga input{
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.5rem;
    border-radius: 2rem;
    background: #D9D9D9;
    font-family: Abril Fatface;
    font-style: normal;
    font-weight: 1000;
    line-height: normal;
    text-align: center;
    padding: 1rem;
    color: rgba(89, 69, 69, 0.50);
}

.conteiner-carga form{
    margin: 0 auto;
    text-align: center;
    align-items: center;
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border: none;
  
}
.file-label {
    background: #D9D9D9;
    border-radius: 10px;
    font-family: Abril Fatface;
   
    padding: 1rem;
    border-radius: 5px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 1.5rem;
    margin: 0 auto;
    cursor: pointer;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    outline: none;
    font-style: normal;
    font-weight: 1000;
    border-radius: 2rem;
    color: rgba(89, 69, 69, 0.50);
   
}
.file-label + input[type="file"] {
    display: none;
}
  



.list-items {
    grid-gap: 2rem;
    text-align: center;
    margin: 0 auto;
    width: 90%;
    z-index: -1;

    
}
    
.item {
  
    text-decoration: none;
    list-style: none;
    
    
}

.item img{
 
    height: 10rem;
    width: 10rem;
    z-index: 0;

}

.conteiner-list{
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    text-align: center;
    padding: 0.5rem 1rem;
    margin: 0 0 2rem 0;
   
    background: #D9D9D9;
}




    
